body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



td img {
    max-width: 100px;
    /* Limit the maximum width of the image */
    max-height: 100px;
    /* Limit the maximum height of the image */
    display: block;
    /* Ensure the image doesn't exceed the specified dimensions */
    margin: auto;
    /* Center the image within the cell */
}



th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}